.button {
  color: var(--color-main);
  background-color: transparent;
  border: solid 1px currentColor;
  border-radius: 4px;
  cursor: pointer;
  padding: 4px 8px;
  transition: all 0.3s;
}

.button:hover {
  color: white;
  background-color: var(--color-main);
}
